$panel: #fdc300;
$submenuDesktop: #3b6186;
$submenu: #ffce43;
$button: #728da8;
html, body, #map {
	height: 100%;
}
.borderless {
	margin: 0;
	padding: 0;
}
.pad10 {
	padding: 10px 5%;
}
.right {
	text-align: right;
}
.txt {
	height: 20px;
	width: 80%;
}
.clicked {
	background-color: $submenu;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus {
	color: #333;
	text-decoration: none;
}
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-default:active {
	background-image: none;
}
#nav {
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 325px;
	height: 15%;
	z-index: 1;
	background: $panel;
	.button + .button {
		border-left: solid 3px $submenu;
	}
	.button {
		float: left;
		width: 25%;
		vertical-align: middle;  
		height: 100%;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		z-index: 1;
		img {
			position: relative;
			display: block;
			top: 50%;
			left: 50%;
			margin-left: -32px;
			margin-top: -32px;
		}
	}
}
.submenu {
	position: absolute;
	top: 15%;
	width: 100%;
	min-width: 325px;
	height: 0;
	clear: both;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	-o-transition: height 1s; /* Opera */
	opacity: 0.8;
	
	background-color: $submenu;
	label {
		display: inline-block;
		width: 10%;
		text-align: left;
	}
	input[type=button] {
		width: 85px;
	}
	.search {
		display: none;
	}
	.autocomplete {
		border-bottom: 2px solid #fff;
		div {
			margin: 10px 0;
		}
		p {
			padding-bottom: 5px;
			margin: 0; 
			border-bottom: 2px solid #fff;
			width: 60%;
		}
		input {
			margin-left: 5%;
		}
	}
	.buttons {
		text-align: center;
		input {
			margin: 2%;
			width: 28%;
			text-align: center;
		}
		.info {
			border: 1px solid #fff;
			overflow-y: scroll;
			p{
				margin: 5px;
			}
		}
	}
	.page {
		display: none;
	}
}
.submenu.active {
	height: 85%;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 780px)
  and (orientation: landscape) {

	#nav{
		width: 10%;
		min-width: 0;
		height: 100%;
		div.button {
			float: none;
			height: 25%;
			img {
				top: 0;
				left: 0;
				margin: 0;
			}
		}
		.button + .button {
			border-left: none;
		}
	}

	.submenu {
		top: 0;
		left: 10%;
		width: 0;
		min-width: 0;
		height: 100%;
		
		-moz-transition: width 1s; /* Firefox 4 */
		-webkit-transition: width 1s; /* Safari and Chrome */
		-o-transition: width 1s; /* Opera */
		
	}
	.submenu.active {
		width: 90%;
		height: 100%;
	}
}

@media only screen
and (min-device-width : 780px){
	.txt {
		width: 200px;	
	}
	.btn {
		background: $button; 
	}
	.page {
		color: #fff;
	}
	#nav {
		width: 100px;
		text-align: center;
		height: 100%;
		min-width: 0;
		.button + .button {
			border-left: none;
		}
		.button {
			float: none;
			/* display: block; */
			height: 100px;
			width: 100%;
			padding: 18px; 
			border-bottom: solid 3px #ffce43;
			img {
				top: 0;
				left: 0;
				margin: 0;
			}
		}
	}
	.submenu {
		height: 100%;
		left: 100px;
		top: 0;
		width: 0;
		min-width: 0;
		opacity: 1;
		background-color: $submenuDesktop;
		-moz-transition: width 1s; /* Firefox 4 */
		-webkit-transition: width 1s; /* Safari and Chrome */
		-o-transition: width 1s; /* Opera */
		div {
			margin: 10px 0;
		}
		label {
			display: inline-block;
			width: 40px;
		}
		#change {
			margin-left: 125px; 
		}
		.autocomplete {
			padding-bottom: 20px;
			input {
				margin-right: 10px;
			}
		}
	}
	.submenu.active {
		width: 428px;
		height: 100%;
	}
}